@charset "UTF-8";


body {
	margin: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #5D5959;
	background-image: url(Images/back.jpg);
	opacity: 1;	
}
#container {
	width: 1000px;
	margin-left: auto;
margin-right: auto;
}


#header-image {
	
	background-repeat: no-repeat;
	background-position: left 100px, top -50px;
	border: 1px solid white;
	margin-left: 110px;
	margin-right: 110px;
	margin-top: 50px;
	height: 193px;
	
	
	display: block;
	
	
}

#header-image {
	background-color: #1F2123;
	background-repeat: no-repeat;
	background-position: left 100px, top -50px;
	border: 2px solid #141516;
	margin-left: 105px;
	margin-right: 110px;
	margin-top: 50px;
	height: 200px;
	
	display: block;
	
	
}

#nav_bar ul {
		list-style-type: none;
		display:inline;
	magin: 0px;
	padding:0px;
		
}
#nav_bar  {
	margin-top: 5px;
	margin-left: 110px;
	margin-right: 110px;
	padding-top: 0px;
	background-color: #81F180;
	border: 2px solid white;
	width: auto;
	border-radius: 40px;
	height: 50px;
	line-height: 35px;
}
#nav_bar ul  li{
	width:105px;


height:50px;
line-height:50px;
	text-align:center;
float:left;
position:relative;


	
	
}
#nav_bar ul  li a {
	
text-decoration:none;
color:white;

	}
	
	


#nav_bar ul  ul {
	position:abosolute;
	display:none;
}

#nav_bar ul li ul li {
	height: 10px;
	line-height: 10px;
	width: 120px;
	background-color: rgba(88,168,173,1.00);
	border: 1px solid #CFF;
	border-radius: 0px;
	padding: 10px 0;
	margin: 0;
	list-style: none;

	opacity: 1;	


}
#iefix {
position:relative;
z-index:1000;
}

#nav_bar ul  li:hover > ul{
		display:block;
		}

#nav_bar li a:hover, #nav_bar li .current{
	color: #F3C373;
}

#main-text {
	margin-left: 110px;
	margin-right: 110px;
	margin-top: 5px;
	font-size: .7em;
	line-height: 1.8em;
	background-color: #ffffff;
	text-align: left;
}

#main-text p {
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
}


	
h2 {
border-bottom: 4px #000000 solid;
padding-bottom: 3px;
padding-right: 0;
color: #000000;

letter-spacing: 5px;
margin-left: 50px;
margin-right: 50px;
font-size: 1.5em;
margin-top: 0;
padding-top: 50px;
text-align:center;
}



a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #7990A6;
}



#footer {
	text-align: center;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 18px;
	font-size: 11px;
	margin-top: 20px;
	padding-right: 50px;
	background-color: #6CD26B;
	color: #ffffff;
	font-weight: bold;
	border-top: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	
}



#feedback_container {
		
}

#feedback_call {
	position: absolute;
	left: 250px;
	top : 500px;
	z-index: 10;
	-webkit-box-shadow: 5px 5px 5px rgba(126,255,150,1.00);
	box-shadow: 5px 5px 5px rgba(126,255,150,1.00);
}

#feedback_form {
	margin-top: 70px;
	



	top: 20px;
	bottom: 2500px;
	left: 210px;
	color: rgba(81, 195, 224, 0.79);

}

#feedback_form fieldset{
	background-color: rgba(126,255,150,1.00);
	background-image: -moz-linear-gradient(304deg,rgba(204,255,168,0.87) 0%,rgba(181,255,229,1.00) 75.44%);
	background-image: -ms-linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	background-image: -o-linear-gradient(304deg,rgba(204,255,168,0.87) 0%,rgba(181,255,229,1.00) 75.44%);
	background-image: -webkit-linear-gradient(304deg,rgba(204,255,168,0.87) 0%,rgba(181,255,229,1.00) 75.44%);
	background-image: linear-gradient(146deg,rgba(204,255,168,0.87) 0%,rgba(181,255,229,1.00) 75.44%);
	border-radius: 20px;
	border: 0;
	width: 360px;
	margin: 0 auto;
	padding-top: 80px;
	-webkit-box-shadow: 0 0 8px rgba(163,238,215,0.87);
	-moz-box-shadow: 0 0 8px rgba(255, 207, 168, 0.87);
	box-shadow: 0 0 8px rgba(163,238,215,0.87);
}


#feedback_form label{

	padding: 20px;

}


#feedback_form input[type=text] {
	width: 280px;
	margin-left: 20px;
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	border: none;
	background-color: rgba(250,253,249,1.00);
}

#feedback_form input[type=email] {
	width: 280px;
	margin-left: 20px;
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(166,244,81,0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(166,244,81,0.91);
	border: none;
}

#feedback_form #name {

	width: 280px

}

#feedback_form textarea {
	resize: none;
	width: 280px;
	margin-left: 20px;
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(203,255,65,0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(203,255,65,0.91);
	border: none;	
}

#feedback_form input[type=submit] {
	width: 160px;
	margin-top: 20px;
	margin-left: 100px;
	background-color: #A8FACB;
	background-image: -moz-linear-gradient(304deg,rgba(130,216,177,1.00) 100%,rgba(149,255,55,1.00) 100%);
	background-image: -ms-linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	background-image: -o-linear-gradient(304deg,rgba(130,216,177,1.00) 100%,rgba(149,255,55,1.00) 100%);
	background-image: -webkit-linear-gradient(304deg,rgba(130,216,177,1.00) 100%,rgba(149,255,55,1.00) 100%);
	background-image: linear-gradient(146deg,rgba(130,216,177,1.00) 100%,rgba(149,255,55,1.00) 100%);
	-webkit-box-shadow: 0 0 8px rgba(29,56,52,0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(29,56,52,0.91);
	border: none;
	color: #9E3700;
	font-weight: bold;
}	

#feedback_form p {

	padding: none;
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
	color: #9E3700;
	
}


#feedback_form div{

	padding: 10px;

}


#rating {
	
	margin-left: 0px;
	
}

#rating span {

	color: #9E3700;
	font-weight: bold;
	font-size: 14px;
	
}



#rating p {

	display: inline;
	padding: 0 10px;
	font-size: 15px;
	
}
#maps{
	
	padding-left:140px;
	
	}



#order_form_container {

	min-height: 900px;	
	position: relative;
	
}

#order_mons {
	
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 190px;
	
}

#order_form {
	
	position: absolute;
	top: 30px;
	left: 70px;
	color:rgba(2,21,248,0.91);

}

#order_form fieldset{
	background: rgba(1,203,242,0.91);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.78), rgba(1,203,242,0.91));
	background: -o-linear-gradient(rgba(255, 255, 255, 0.78), rgba(1,203,242,0.91));
	background: -moz-linear-gradient(rgba(255, 255, 255, 0.78), rgba(1,203,242,0.91));
	background: linear-gradient(rgba(255, 255, 255, 0.78), rgba(1,203,242,0.91));
	border-radius: 20px;
	border: 0;
	width: 500px;
	margin: 0 auto;
	padding-top: 80px;
	-webkit-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	-moz-box-shadow: 0 0 8px rgba(1,203,242,0.91);
	box-shadow: 0 0 8px rgba(2,21,248,0.91);
}


#order_form input{

	width: 550px;
	margin-left: 22px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(0,255,121,1.00);
	-moz-box-shadow: 0 0 8px rgba(0,255,121,1.00);
	box-shadow: 0 0 8px rgba(4,186,255,0.71);
	border: none;

}


#order_form select{

	width: 200px;
	margin-left: 10px;
	
	border-radius: 20px;
	padding: 8px 10px;

	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	-moz-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	box-shadow: 0 0 8px rgba(4,186,255,0.71);
	border: none;

}

#order_form .quantity{

	width: 100px;

}


#order_form textarea {

	resize: none;
	width: 550px;
	margin-left: 20px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	-webkit-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	-moz-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	box-shadow: 0 0 8px rgba(4,186,255,0.71);
	border: none;
	
}

#order_form input[type=submit] {
	width: 220px;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 210px;
	padding: 20px 0;
	background: rgba(4,186,255,0.71);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.78), rgba(4,186,255,0.71));
	background: -o-linear-gradient(rgba(4,186,255,0.71), rgba(4,186,255,0.71));
	background: -moz-linear-gradient(rgba(4,186,255,0.71), rgba(4,186,255,0.71));
	background: linear-gradient(rgba(4,186,255,0.71),rgba(4,186,255,0.71));
	-webkit-box-shadow: 0 0 8px rgba(3,255,60,0.71);
	-moz-box-shadow: 0 0 8px rgba(4,186,255,0.71);
	box-shadow: 0 0 8px rgba(3,255,60,0.71);
	border: none;
	border-radius: 60px;
	color: rgbargba(3,255,60,0.71);
	font-size: 15px;
	font-weight: 900;
	
}	

#order_form input[type=submit]:hover {
	
	background: rgba(249, 239, 245, 0.82);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.78), rgba(249, 239, 245, 0.82)); 
    background: -o-linear-gradient(rgba(255, 255, 255, 0.78), rgba(249, 239, 245, 0.82)); 
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.78), rgba(249, 239, 245, 0.82));
    background: linear-gradient(rgba(255, 255, 255, 0.78),rgba(249, 239, 245, 0.82)); 

}	


#order_form p {

	padding: none;
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
	
}

.dollar_sign, .calc_text, .product_cost, .product_quantity, .product_total {

	font-size: 12px;
	padding: none;
	margin: none;

}

.dollar_sign {

	padding-left: 480px;
	
}

#total_cost_container {

	padding-left: 475px;
	font-size: 15px;
	font-weight: bold;
	
}


#order_form .remove_product{

	padding-left: 10px;
	font-weight: bold;
	cursor: default;
	
}

#order_form .remove_product:hover {

	color: rgba(173, 0, 98, 0.82);
	
}

#order_form .add_product {

	cursor: default;
	font-weight: bold;
	
}

#order_form .add_product:hover {

	color: rgba(173, 0, 98, 0.82);
	
}


#order_form div {

	padding: 10px;

}


#order_form div {

	padding: 10px;

}
#arrow_down1 {

	position: absolute;
	padding-left: 255px;
	top: 295px;
	height: 13px;
	width:13px;
	
}

#arrow_down2 {

	position: absolute;
	padding-left: 680px;
	top: 295px;
	height: 13px;
	width:13px;
	
}

	
